h1,
p {
  font-family: Lato;
}

header,
footer,
p {
  position: relative;
  margin: 0;
}

.card {
  padding: 20px;
}

.background {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 5px #000;
  background: #eee;
}

.parent {
  display: grid;
  grid-template-areas:
    'header header'
    'sidebar body'
    'footer footer';
  grid-gap: 20px;
  margin: 20px;
}
.parent.alt {
  grid-template-areas:
    'sidebar header'
    'sidebar footer'
    'body footer';
}
.header {
  grid-area: header;
  min-height: 150px;
  min-width: 33vw;
}
.sidebar {
  grid-area: sidebar;
}
.body {
  grid-area: body;
}
.footer {
  grid-area: footer;
  min-height: 150px;
  min-width: 33vw;
}
