h1, p {
  font-family: Lato;
}

p {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 100%;
}

.background {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}