.background {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 5px #000;
  background: #eee;
}

.parent {
  display: grid;
  grid-template-areas:
    'header header'
    'sidebar body'
    'footer footer';
  grid-template-columns: 0 1fr;
}
.parent.open {
  grid-template-columns: auto 1fr;
}
.header {
  grid-area: header;
  background: #003882;
  color: #fff;
  padding: 1rem 2rem;
}
.sidebar {
  grid-area: sidebar;
  position: relative;
}

.sidebar nav {
  width: 200px;
  position: absolute;
  right: 100%;
}

.open .sidebar nav {
  position: static;
}

.body {
  grid-area: body;
}
.footer {
  border-top: 1px solid #333;
  grid-area: footer;
  min-height: 150px;
  padding: 1rem 2rem;
}
